<div class="upload-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Upload Files</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="upload-area"
           [class.dragging]="isDragging"
           (dragover)="onDragOver($event)"
           (dragleave)="onDragLeave($event)"
           (drop)="onDrop($event)">
        <mat-icon>cloud_upload</mat-icon>
        <p>Drag and drop files here or</p>
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          Browse Files
        </button>
        <input #fileInput
               type="file"
               multiple
               (change)="onFileSelected($event)"
               style="display: none">
      </div>

      <div class="upload-list" *ngIf="uploadProgress && Object.keys(uploadProgress).length > 0">
        <div class="upload-item" *ngFor="let file of uploadProgress | keyvalue">
          <div class="file-info">
            <mat-icon>insert_drive_file</mat-icon>
            <span class="file-name">{{ file.key }}</span>
          </div>
          <div class="progress-container">
            <mat-progress-bar mode="determinate" [value]="file.value"></mat-progress-bar>
            <span class="progress-text">{{ file.value }}%</span>
          </div>
        </div>
      </div>

      <div *ngIf="uploadError" class="error-message">
        <mat-icon color="warn">error</mat-icon>
        <span>{{ uploadError }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
